.bg {
  width: 100%;
  height: calc(100% - 60px);
  background-color: #313131;
  padding: 20px;
  overflow: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card {
  width: 25%;
  height: 200px;
  padding: 10px;
  margin-bottom: 90px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  color: #fff;
  background-color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title > i {
  color: #dd4b25;
  transition: transform .76s ease-in-out, opacity .5s ease-in-out;
  opacity: 0;
  transform: translateY(-50px);
  cursor: pointer;
}

.card:hover > .card-title > i {
  opacity: 1;
  transform: translateY(0px);
}

.card-body {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #171717;
  height: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.code-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.code-type > i {
  font-size: 40px;
  margin-bottom: 10px;
}

.code-type > span {
  color: #fff;
  text-transform: capitalize;
}

.code-type:nth-child(1) > i {
  color: #dd4b25;
}

.code-type:nth-child(2) > i {
  color: #254bdd;
}

.code-type:nth-child(3) > i {
  color: #efd81c;
}

.last-modified {
  display: inline-block;
  width: calc(100% - 4px);
  position: absolute;
  bottom: 0;
  margin: 2px;
  padding: 5px;
  color: #fff;
  background-color: rgba(49, 49, 49, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.created {
  display: inline-block;
  width: calc(100% - 4px);
  position: absolute;
  bottom: 31px;
  margin: 2px;
  padding: 5px;
  color: #fff;
  background-color: rgba(49, 49, 49, 0.5);
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  .card {
    width: 33.3%;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
}
