.editor {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: .5rem;
}
.editor-header {
  background-color: #212121;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.editor-title {
  display: inline-block;
  color: #fff;
  padding: 3px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.editor-header-options {
  color: #fff;
}

.editor-header-options > i {
  margin-right: 10px;
  cursor: pointer;
}

.editor > hr {
  border-color: #3c3e42;
}

.html-editor {
  
}
.css-editor {
}
.js-editor {
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: hidden;
  height: 100% !important;
}
