.login {
  min-height: calc(100vh - 301px);
  padding: 0 40px;
}

.login-form {
  margin: 220px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: inset 0 2000px 0 rgba(72, 126, 176, 0.8);
}

.login-form > h2 {
  padding: 10px 15px;
  color: #fafafa;
}

.login-form > p {
  margin: 20px 5%;
  margin-bottom: 10px;
  color: #fafafa;
  font-weight: 600;
}

.login-form > input {
  width: 90%;
  margin: 0 5%;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 20px;
  text-indent: 10px;
}

.login-form > button {
  width: 90%;
  margin: 40px 5%;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #fafafa;
  outline: none;
  transition: 0.3s;
  color: #487eb0;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.login-form > button:hover {
  text-decoration: underline;
  color: #fafafa;
  background-color: #487eb0;
  border-color: #fafafa;
}

.login-form > .danger {
  position: relative;
  background-color: #e74c3c;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  padding-right: 30px;
  border-radius: 5px;
}

.login-form > p > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}
